extends  ../layouts/layout.jade
block head
  link(rel="stylesheet", href="./css/bootstrap.min.css")
block section
  div(ng-controller="TabsController as tabs" class="tabs")
    ul(class="nav nav-tabs nav-justified")
      li(ng-class="{active : tabs.tab === 1}")
        a(ng-click="tabs.selectTab(1)") Tab1
      li(ng-class="{active : tabs.tab === 2}")
        a(ng-click="tabs.selectTab(2)") Tab2
      li(ng-class="{active : tabs.tab === 3}")
        a(ng-click="tabs.selectTab(3)") Tab3
      li(ng-class="{active : tabs.tab === 4}")
        a(ng-click="tabs.selectTab(4)") Tab4

    div(class="tab-content" ng-show="tabs.tab === 1")
      span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos libero vitae quo repellat nobis doloribus soluta amet quaerat accusantium? Quod est sed at officia, magni veritatis doloribus ullam molestiae delectus! 1
    div(class="tab-content" ng-show="tabs.tab === 2")
      span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aliquam nostrum quae odio facere quos alias odit adipisci deleniti, culpa a cupiditate corporis doloribus quidem. Error deserunt quos porro, impedit! 2
    div(class="tab-content" ng-show="tabs.tab === 3")
      span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aspernatur nam saepe expedita cupiditate reprehenderit id sequi quisquam esse velit. Reprehenderit fugit iste sunt, deserunt voluptatum eaque vel quisquam consequuntur? 3
    div(class="tab-content" ng-show="tabs.tab === 4")
      span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic delectus sit perspiciatis deserunt fugiat, culpa veniam quae distinctio quisquam ullam! Quas excepturi nobis rerum accusantium tempora sapiente eaque non optio. 4

  
  div(ng-controller="CommentsController as cmtsCtrl" class="comments")
    button(ng-hide="cmtsCtrl.show" ng-click="cmtsCtrl.toggle()" class="btn btn-primary") Show Comments 
      span(class="badge") {{cmtsCtrl.comments.length}}
    form(name="commentsForm" ng-show="cmtsCtrl.show" class="form-vertical" ng-submit="commentsForm.$valid && cmtsCtrl.addComment()" novalidate)           
      legend Comentarios
      div(class="form-group")
        label Email
        input(ng-disabled="cmtsCtrl.comment.anonimo" ng-model="cmtsCtrl.comment.email" type="email" class="form-control" placeholder="Email" ng-required="!cmtsCtrl.comment.anonimo")
        input(ng-model="cmtsCtrl.comment.anonimo" type="checkbox" ng-change="cmtsCtrl.anonimoChanged()")
        label Anonimo
      div(class="form-group")
        label Comentario
        textarea(ng-model="cmtsCtrl.comment.body" class="form-control" cols="30" rows="10" required)
      div(class="form-group")
        div(class="col-lg-10 col-lg-offset-2")
          button(ng-click="cmtsCtrl.toggle()" type="reset" class="btn btn-default") Cancelar
          button(type="submit" class="btn btn-primary") Enviar
      blockquote(ng-repeat="comment in cmtsCtrl.comments")
        h5 {{comment.body}}
        footer Comment by 
          a(ng-if="!comment.anonimo" href="mailto:{{comment.email}}")  {{comment.email}} 
          span(ng-if="!comment.anonimo") on {{comment.date | date : 'medium'}}          
          em(ng-if="comment.anonimo") Anonimo 
            span on {{comment.date | date : 'medium'}} 
    div(ng-if="!commentsForm.$valid" class="alert alert-danger") Formulario invalido

block script
  script(src="js/controller.js")
  script(src="js/app.js")
