body
  display block

.comments
  display: flex
  align-items: center;
  width: 100%
  flex-direction: column;

.ng-invalid
  border-color: red !important


.ng-valid
  border-color: green !important
