doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title DevFront: Cesar Moreno
    meta(name="description", content="Profile - Cesar")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="./img/apple-touch-icon.png")    
    link(rel="stylesheet",href="http://devfront.info/favicon.ico")
    link(rel="stylesheet",href="./css/normalize.css")
    link(rel="stylesheet",href="./css/style.css") 
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Exo+2:800|Lobster",type="text/css")
  body
    h1 DevFront
    p En construcción 
    script(src="js/plugins.js")
    script(src="js/main.js")
