
figure(Class="Profile") 
  img(class="Profile__img",src="./img/apple-touch-icon.png", alt="Imagen Profile")
  div(class="Profile__datos")
    h1(class="Profile__nombre") Cesar Moreno
    h2(class="Profile__profesion") Freelance
    h3(class="Profile__descripcion") Desarrollador Web
