doctype html
html(lang="es")
  head
    include ./head.jade
  body
    header
      include ../components/picture/picture.jade    
      include ./header.jade    
    aside
      block aside
    section      
      block section
    footer    
      include ./footer.jade
    block script
