doctype html
html(lang="es")
  head
    include ./head.jade
    block head
  body(ng-app="profile")
    header
      block header
      include ./header.jade
    aside
      block aside
    section(ng-controller="appController as data")
      block section
    footer
      include ./footer.jade
    block script
