doctype html
html(lang="es")
  head
    include ./head.jade
  body
    header
      block header
      include ./header.jade
    aside
      block aside
    section
      block section
    footer
      include ./footer.jade
    block script
