@import "./profile/styles.styl"
@import "./components/picture/style.styl"

body
  align-items: center
  background: #6f736f
  display: flex
  justify-content: center
  flex-direction: column
  height: 100vh

section
  display: flex
  align-items: center
  flex-direction: column
