.Profile
  display flex
  align-content: center
  flex-direction: column
  margin: 0

  &__datos
    color white
    display: flex
    flex-direction: column
    align-content: center
    margin: 0

.Profile__nombre
  display: flex
  align-items: center
  flex-direction: column
